Repository voxpupuli/puppet-trusted_ca, pull requests merged in 2024-08, with the labels that each got.

#69 Support EL 9: Avoid running update-ca-trust twice
  manifests/params.pp
  metadata.json
  spec/acceptance/certs_spec.rb
  spec/acceptance/helpers/gen_cert.sh
Labels: enhancement

#70 Support Debian 11 & 12 + Ubuntu 22.04 & 24.04
  metadata.json
Labels: enhancement

#71 Release 5.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#72 Fix validate_cmd command in java.pp
  manifests/java.pp
Labels: bug
